@import "../../../../themes.scss";

::ng-deep nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding-top: 25px;
  padding-bottom: -10px;
}

.card-wrapper {
  margin-top: 30px;
}

.titulo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.back-button {
  height: fit-content;
  margin-bottom: 7px;
  display: flex;
  justify-content: flex-end;
}

.bt-voltar:hover {
  background-color: #b3b3b3;
}

.titulo-wrapper {
  position: absolute;
  text-align: center;
  width: calc(100% - 200px);
  left: 100px;
}

.tableFixHead {
  overflow: auto;
  width: fit-content;
  margin-top: 25px;
  height: 850px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: nb-theme(color-tb-header-bg);
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border: 1px solid nb-theme(color-tb-even-bg);

  thead {
    background-color: nb-theme(color-tb-header-bg);
    height: 34px;
  }

  td {
    height: 30px;
    font-size: 12px;
  }

  .img-hover a {
    cursor: default;
    text-decoration: none;
    position: relative;
  }

  .img-hover a span {
    position: absolute;
    display: none;
    z-index: 99;
    top: -20px;
    right: 60px;
  }

  .img-hover a:hover span {
    display: block;

    img {
      border: 1px solid #dddddd;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
    }
  }

  .atraso {
    font-weight: 600;
    color: nb-theme(color-danger-600);
  }

  .andamento {
    font-weight: 600;
    color: nb-theme(color-success-700);
  }

  .even {
    background-color: nb-theme(color-tb-even-bg);
  }

  .link-desc {
    cursor: pointer;
    font-weight: 600;
  }

}

.hiden-fild {
  display: none;
}


@media screen and (max-width: 475px) {
  .titulo {
    font-size: 25px;
  }

  .img-hover a span {
    position: absolute;
    display: none;
    z-index: 99;
    bottom: 20px;
    right: 40px;
  }

}

@media screen and (max-height: 649px) {
  .tableFixHead {
    height: 550px;
  }
}
