<nb-layout>
  <nb-layout-column>
    <div class="back-button">
      <div class="titulo-wrapper">
        <h3>{{ tituloLocal }}</h3>
      </div>
      <div class="bt-voltar-wrapper">
        <button nbButton outline status="primary" size="small" class="bt-voltar" (click)="voltar()">
          Voltar
        </button>
      </div>
    </div>
    <div *ngIf="faccaoList.length == 0">
      <div class="card-wrapper" style="text-align: center;">
        <h2>Carregando dados da tabela...</h2>
        <nb-card [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary">
          <nb-card-body>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="tableFixHead">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>Cód</th>
            <th>Cód. Local</th>
            <th>Local</th>
            <th>Tipo</th>
            <th>Coordenado</th>
            <th>Peças</th>
            <th>Previsão Retorno</th>
            <th>Dias na Facção</th>
            <th>Apontamento</th>
            <th>Motivo Alteração</th>
            <th>Nova Previsão</th>
            <th>Origem</th>
            <th>Coleção</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOPs$ | async">
            <td>{{ item.NR_CICLO + '-' + item.NR_OP + '-' + item.CD_REFERENCIA }}</td>
            <td>{{ item.CD_LOCAL }}</td>
            <td>{{ item.DS_LOCAL }}</td>
            <td>{{ item.DS_TIPO + '-' + item.DS_CATEGORIA }}</td>
            <td class="img-hover">
              <a>
                <span><img [src]="imgUrl + item.CD_REFERENCIA.toString() +
                '/' + item.CD_REFERENCIA.toString() + '-1.jpg'" alt="image" height="200"
                    onerror="this.onerror=null;this.src='../../../../assets/not-found.png'" /></span>
                {{ item.DS_COORDENADO }}</a>
            </td>
            <td>{{ item.QT_OP | number: '1.0' }}</td>
            <td ngClass="{{item.css_class}}">
              {{ item.dt_ajustada }}
            </td>
            <td>{{ item.dias_faccao }}</td>
            <td>{{ item.DS_APONTAMENTO_DS }}</td>
            <td>{{ item.motivo_atraso }}</td>
            <td>{{ item.nova_previsao }}</td>
            <td>{{ item.DS_CLASS }}</td>
            <td>{{ item.NR_CICLO + '-' + item.DS_CICLO }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="emptyList">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-layout-column>
</nb-layout>
