<nb-layout>
  <nb-layout-column>
    <div *ngIf="loading | async; else allOPs">
      <div class="card-wrapper loading">
        <div *ngFor="let i of color">
          <fc-card [loading]="true" [title]="'...'" [qnt_ops]="0" [c_status]="i" [qnt_atraso]="0" [show_desc]="true">
          </fc-card>
        </div>
      </div>
    </div>

    <ng-template #allOPs>
      <div class="filter-wrapper">
        <h6 class="filter-title">Filtros</h6>
        <div class="filter-menu-wrapper">
          <div class="filtro-dropdown">
            <nb-select multiple placeholder="Coleção" [(ngModel)]="selectedColecao" status="primary">
              <nb-option (click)="filtrosDropdown()">Limpar filtro</nb-option>
              <nb-option style="font-size: 12px !important;" (click)="filtrosDropdown()"
                *ngFor="let colecao of menuColecao" [value]="colecao">{{colecao}}
              </nb-option>
            </nb-select>
          </div>
          <div class="filtro-dropdown">
            <nb-form-field>
              <input type="text" id="filtro" #filtro nbInput (keyup)="filtroFaccao($event)"
                placeholder="Filtrar facção">
              <button *ngIf="filtroAtivo" nbPrefix nbButton ghost (click)="limpaFiltro(filtro)">
                <nb-icon icon="close-square-outline" aria-label="pesquisar">
                </nb-icon>
              </button>
              <button nbSuffix nbButton ghost (click)="filtroFaccao($event)">
                <nb-icon icon="search-outline" aria-label="pesquisar">
                </nb-icon>
              </button>
            </nb-form-field>
          </div>
        </div>
      </div>
    </ng-template>

    <div *ngIf="!(emptyList | async); else listaVazia">
      <div class="card-wrapper">
        <div *ngFor="let item of faccaoList$ | async">
          <fc-card [show_desc]="show_desc" [title]="item.name" text_desc="OP's em atraso" [qnt_ops]="item.qnt"
            [c_status]="item.color!" [qnt_atraso]="item.qnt_atraso!" [per_atraso]="item.per_atraso!"
            [routerLink]="['/auditor/descricao/', item.id]">
          </fc-card>
        </div>
      </div>
    </div>


    <ng-template #listaVazia>
      <h4 style="text-align: center;">Nenhum item encontrado..</h4>
    </ng-template>

  </nb-layout-column>
</nb-layout>
