<nb-card class="dialog-card">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    {{ bodyText}}
    <ng-container *ngIf="title == 'Motivo da Pendência'">
      <nb-select placeholder="Selecionar Motivo" [(ngModel)]="selectedMotivo">
        <nb-option *ngFor="let item of motivoList; let id = index" [value]="id">{{item}}</nb-option>
      </nb-select>
    </ng-container>
  </nb-card-body>
  <nb-card-footer>
    <div class="bt-container">
      <button [nbSpinner]="loading.getValue()" [disabled]="loading.getValue()" nbButton status="success" (click)="submit()">{{ buttonName }}</button>
      <button *ngIf="title == 'Motivo da Pendência'" [disabled]="loading.getValue()" [nbSpinner]="loading.getValue()" nbButton status="danger" (click)="cancel()">Cancelar</button>
    </div>
  </nb-card-footer>
</nb-card>
