nb-card-header h3 {
  text-align: center
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-wrapper input {
  width: 75%;
}

.data-inserida-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data-inserida-wrapper span {
  font-size: small;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.data-inserida-wrapper .bt-remover {
  margin-left: 5px;
  color: #f1363b;
  display: flex;
}

.motivo-parado {
  margin-top: 15px;
}

nb-card-footer {
  display: flex;
  justify-content: space-around;
}
